<nb-card *ngIf="order" id="order">
  <nb-card-header>
    <h2>Commande #{{order.id}}</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="section">
      <div><span class="text-muted">Commande passé le&nbsp;</span><span>{{order.created_at | date:'long'}}</span></div>
      <div><span class="text-muted">Montant total&nbsp;:&nbsp;</span><span>{{order.amount | currency:'EUR':'symbol-narrow':'1.2-2' }}</span></div>
    </div>
    <div class="section">
      <h3>Client (#{{order.client.id}})</h3>
      <div><span class="text-muted">Prénom&nbsp;:&nbsp;</span><span>{{order.client.first_name}}</span></div>
      <div><span class="text-muted">Nom&nbsp;:&nbsp;</span><span>{{order.client.last_name}}</span></div>
      <div><span class="text-muted">Email&nbsp;:&nbsp;</span><span>{{order.client.email}}</span></div>
    </div>
    <div class="section" *ngIf="order.coupon">
      <h3>Coupon utilisé : {{order.coupon}}</h3>
    </div>
    <div class="section" *ngIf="order.transaction">
      <h3>Transaction bancaire (#{{order.transaction.id}})</h3>
      <div><span class="text-muted">Status&nbsp;:&nbsp;</span><span>{{order.transaction.status == 3 ? 'Accepté' : 'Rejeté ou en cours'}}</span></div>
      <div><span class="text-muted">Référence&nbsp;:&nbsp;</span><span>{{order.transaction.mercanet}}</span></div>
      <div><span class="text-muted">Carte&nbsp;:&nbsp;</span><span>{{order.transaction.card}}</span></div>
    </div>
    <div class="section">
      <h3>Contenu de la commande</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Participants</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let billet of order.billets">
            <td>
              <span *ngIf="billet.product">{{billet.product.name}}</span>
              <span *ngIf="!billet.product">(Sans Produit)</span></td>
            <td>
              <div *ngFor="let participant of billet.participants">
                {{participant.first_name}} {{participant.last_name}}
              </div>
            </td>
            <td>
              <div *ngFor="let bo of billet.billet_options">
                {{bo.option.name}} x{{bo.amount}}
              </div>
              <div *ngIf="!billet.billet_options || billet.billet_options.length == 0">
                <span class="badge badge-info">Aucune Option</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <a routerLink=".." class="btn btn-info">Retour à la liste</a>
  </nb-card-footer>
</nb-card>
