<div class="row api-table">
  <div class="col-md-6 col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Rechercher ..." [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="makeSearch()">Chercher</button>
      </span>
    </div>
  </div>
  <div class="col-12 mt-3">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of entries" (click)="clickOn(entry)">
        <th *ngFor="let column of columns">
          <span *ngIf="column.type === 'string'">{{entry[column.field]}}</span>
          <span *ngIf="column.type === 'currency'">{{entry[column.field] | currency:'EUR':'symbol-narrow':'1.2-2' }}</span>
          <span *ngIf="column.type === 'date'">{{entry[column.field] | date : 'short' }}</span>
          <span *ngIf="column.type === 'order-status'">{{entry[column.field]}}</span>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 mt-2">
    <div class="btn btn-primary pull-left" (click)="movePage(-1);" *ngIf="hasPrevious">&lt; Précédent</div>
    <div class="btn btn-primary pull-right" (click)="movePage(1);" *ngIf="hasNext">Suivant &gt;</div>
  </div>
</div>
